torch
torch-geometric
transformers
sentence-transformers
networkx
nltk
evaluate
rouge-score
bert-score
pandas
scikit-learn
tqdm
PyMuPDF
dateparser 
spacy
fastapi
uvicorn
python-multipart
streamlit
requests

